.app-header{
    position: relative;
    width: 100%;
    height: 50px;
    background-color: aquamarine;
    align-items: center;
}

.header-text {
    display: inline-block;
    position: relative;
    align-self: center;
}