<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- <app-header></app-header>
    <app-side-nav></app-side-nav>
    <app-footer></app-footer> -->

    <!-- String interpolation -->
    <h1>String Interpolation</h1>
    <h3>{{ title }}</h3>

    <!-- Property Binding -->
    <h1>Property Binding</h1>
    <img [src]="imgPath" class="bgImg" />

    <h1>Event Binding</h1>
    <input type="text" (input)="passValueToComponent($event)" />

    <h1>Two way Binding</h1>
    <input type="text" [(ngModel)]="name" />
    <span>{{ name }}</span>

    <h1>Test</h1>
    <input type="text" [(ngModel)]="inputValue" />
    <span>{{ inputValue }}</span>
    <button [disabled]="isdisabled" (click)="checkValue()">Submit</button>
  </body>
</html>
